@font-face {
    font-family: 'Domaine Display Narrow';
    font-style: normal;
    font-weight: 400;
    src: local('Domaine Display Narrow'), url('https://fonts.cdnfonts.com/s/16230/DomaineDispNar-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Domaine Display Narrow';
    font-style: italic;
    font-weight: 400;
    src: local('Domaine Display Narrow'), url('https://fonts.cdnfonts.com/s/16230/DomaineDispNar-RegularItalic.woff') format('woff');
}
@font-face {
    font-family: 'Domaine Display Narrow';
    font-style: normal;
    font-weight: 500;
    src: local('Domaine Display Narrow'), url('https://fonts.cdnfonts.com/s/16230/DomaineDispNar-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Domaine Display Narrow';
    font-style: italic;
    font-weight: 500;
    src: local('Domaine Display Narrow'), url('https://fonts.cdnfonts.com/s/16230/DomaineDispNar-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'Domaine Display Narrow';
    font-style: normal;
    font-weight: 600;
    src: local('Domaine Display Narrow'), url('https://fonts.cdnfonts.com/s/16230/DomaineDispNar-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Domaine Display Narrow';
    font-style: italic;
    font-weight: 600;
    src: local('Domaine Display Narrow'), url('https://fonts.cdnfonts.com/s/16230/DomaineDispNar-SemiboldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Domaine Display Narrow';
    font-style: normal;
    font-weight: 700;
    src: local('Domaine Display Narrow'), url('https://fonts.cdnfonts.com/s/16230/DomaineDispNar-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Domaine Display Narrow';
    font-style: italic;
    font-weight: 700;
    src: local('Domaine Display Narrow'), url('https://fonts.cdnfonts.com/s/16230/DomaineDispNar-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Domaine Display Narrow';
    font-style: normal;
    font-weight: 800;
    src: local('Domaine Display Narrow'), url('https://fonts.cdnfonts.com/s/16230/DomaineDispNar-Extrabold.woff') format('woff');
}
@font-face {
    font-family: 'Domaine Display Narrow';
    font-style: italic;
    font-weight: 800;
    src: local('Domaine Display Narrow'), url('https://fonts.cdnfonts.com/s/16230/DomaineDispNar-ExtraboldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Domaine Display Narrow';
    font-style: normal;
    font-weight: 900;
    src: local('Domaine Display Narrow'), url('https://fonts.cdnfonts.com/s/16230/DomaineDispNar-Black.woff') format('woff');
}
@font-face {
    font-family: 'Domaine Display Narrow';
    font-style: italic;
    font-weight: 900;
    src: local('Domaine Display Narrow'), url('https://fonts.cdnfonts.com/s/16230/DomaineDispNar-BlackItalic.woff') format('woff');
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-text-light: #FFFFFF;
    --color-text-dark: #303030;
    
    --color-news-text: #C4C4C4;
    --color-news-bg: #F3F3F3;
    
    --color-development-bg: #000000;
    
    --color-properties-fg: #313131;
    
    --color-contact-grey94: #949494;
    --color-contact-grey5c: #5C5C5C;
    --color-contact-bg: #1D1D1D;

    --color-footer-text-light: #F3F3F3;
    --color-footer-text-grey5f: #5f5f5f;
    --color-footer-logo: #BA9925;
    --color-footer-bg: #000000;
}

.fas {
    color: white;
    font-size: 14px;
}

body {
    background-color: #000000;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-GRID STRUCTURE-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.main-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    position: relative;
    
}
.main-grid .anchor-properties {
    position: absolute;
    grid-row: 2 /3;
    bottom: 10.46vh;
    z-index: 1000;
}
.main-grid .anchor-news {
    position: absolute;
    grid-row: 3 /4;
    bottom: 10.46vh;
    z-index: 1000;
}
.main-grid .anchor-contact {
    position: absolute;
    grid-row: 4 / 5;
    bottom: 10.46vh;
    z-index: 1000;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*HERO GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.hero {
    grid-row: 1 /2;

    display: grid;
    grid-template-columns:
    minmax(1em, 0.042fr)
    minmax(1em, 0.043fr)
    minmax(1em, 0.320fr)
    minmax(1em, 0.074fr)
    minmax(1em, 0.470fr)
    minmax(1em, 0.052fr)   
    ;

    grid-template-rows:
    minmax(1em, 0.064fr)
    minmax(1em, 0.243fr)
    minmax(1em, 0.226fr)
    minmax(1em, 0.125fr)
    minmax(1em, 0.055fr)
    minmax(1em, 0.1126fr)
    minmax(1em, 0.1744fr)
    ;
    gap: 1px;
    
}

/* The Luxury of Choice*/
.hero .title-hero {
    grid-column: 3 / 5;
    grid-row: 3 /4;
    margin-top: -10px;
}

/* Watch Full Video */
.hero .video-watch {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
    position: absolute;
    margin-right: -50px;
}

/*Arrow Down*/
.hero .nav-arrow-down {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.hero .nav-side {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    
}

.hero .bottom-overlay-fade { 
    grid-column: 1 / 8;
    grid-row: 7 / 8;
    margin-left: -40px;
    margin-top: -3.5px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.76%, #000000 100%);

}


/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*DEVELOPMENT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.development {
    grid-row: 2 /3;

    display: grid;
    grid-template-columns: 
    minmax(1em, 0.169fr)
    minmax(1em, 0.098fr)
    minmax(1em, 0.095fr)
    minmax(1em, 0.096fr)
    minmax(1em, 0.042fr)
    minmax(1em, 0.331fr)
    minmax(1em, 0.169fr)
    ;

    grid-template-rows: 
    minmax(1em, 0.157fr)
    minmax(1em, 0.02fr)
    minmax(1em, 0.145fr)
    minmax(1em, 0.028fr)
    minmax(1em, 0.059fr)
    minmax(1em, 0.062fr)
    minmax(1em, 0.248fr)
    minmax(1em, 0.066fr)
    minmax(1em, 0.008fr)
    minmax(1em, 0.022fr)
    minmax(1em, 0.008fr)
    minmax(1em, 0.177fr)
    ;
}

.development .slider-development {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    z-index: 1;
}

.development .title-development1 {
    grid-column: 3 / 7;
    grid-row: 3 / 6;
    z-index: 1;
}

.development .title-development2 {
    grid-column: 4 / 7;
    grid-row: 5 / 7;
    z-index: 1;
}

.development .picture-palawan {
    grid-column: 6 / 7;
    grid-row: 3 / 12;
    display: flex;
    overflow: hidden;
   
}

.development .description-palawan {
    grid-column: 2 / 5;
    grid-row: 7 / 12;

}

.development .button-explore {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

.development .nav-arrowr-development {
    grid-column: 4 / 5;
    grid-row: 9 / 10;
    display: flex;
    justify-content: flex-end;
    
}

.development .nav-arrowl-development {
    grid-column: 4 / 5;
    grid-row: 11 / 12;
    display: flex;
    justify-content: flex-end;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*PROPERTIES GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.properties {
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns:
    minmax(1em, 1fr)
    minmax(1em, 0.5fr)
    minmax(1em, 0.5fr)
    minmax(1em, 1fr)
    ;
    grid-template-rows:
    minmax(1em, 1fr)
    ;
}
.properties .carousel:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
}
.properties .carousel:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1 / 1;
}
.properties .carousel:nth-child(3) {
    grid-column: 4 / 5;
    grid-row: 1 / 1;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NEWS GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.news {
    grid-row: 4 / 5;

    display: grid;
    grid-template-columns:
    minmax(1em, 0.169fr)
    minmax(1em, 0.076fr)
    minmax(1em, 0.199fr)
    minmax(1em, 0.113fr)
    minmax(1em, 0.076fr)
    minmax(1em, 0.199fr)
    minmax(1em, 0.169fr)
    ;

    grid-template-rows:
    minmax(1em, 0.111fr)
    minmax(1em, 0.042fr)
    minmax(1em, 0.131fr)
    minmax(1em, 0.069fr)
    minmax(1em, 0.055fr)
    minmax(1em, 0.186fr)
    minmax(1em, 0.053fr)
    minmax(1em, 0.069fr)
    minmax(1em, 0.283fr)
    ;
}

.news .header-news {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.news .header-comfort {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}

.news .description-comfort {
    grid-column: 2 / 4;
    grid-row: 6 / 7;
}

.news .button-readon1 {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
}

.news .header-destination {
    grid-column: 5 / 7;
    grid-row: 4 / 5;
}

.news .description-destination {
    grid-column: 5 / 7;
    grid-row: 6 / 7;
}

.news .button-readon2 {
    grid-column: 5 / 6;
    grid-row: 8 / 9;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*CONTACT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.contact {
    grid-row: 5 / 6;

    display: grid;
    grid-template-columns:
    minmax(1em, 0.169fr)
    minmax(1em, 0.164fr)
    minmax(1em, 0.165fr)
    minmax(1em, 0.076fr)
    minmax(1em, 0.257fr)
    minmax(1em, 0.170fr)
    ;

    grid-template-rows:
    minmax(1em, 0.227fr)
    minmax(1em, 0.045fr)
    minmax(1em, 0.088fr)
    minmax(1em, 0.088fr)
    minmax(1em, 0.088fr)
    minmax(1em, 0.073fr)
    minmax(1em, 0.107fr)
    minmax(1em, 0.056fr)
    minmax(1em, 0.107fr)
    minmax(1em, 0.056fr)
    minmax(1em, 0.227fr)
    ;
}

.contact .header-contact {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
}

.contact .description-contact {
    grid-column: 2 / 3;
    grid-row: 6 / 8;
}

.contact .form-name {
    grid-column: 4 / 6;
    grid-row: 3 / 4;
}

.contact .form-email {
    grid-column: 4 / 6;
    grid-row: 4 / 5;
}

.contact .form-phone {
    grid-column: 4 / 6;
    grid-row: 5 / 6;
}

.contact .form-message {
    grid-column: 4 / 6;
    grid-row: 6 / 7;
}

.contact .form-check {
    grid-column: 4 / 6;
    grid-row: 7 / 8;
}

.contact .button-submit {
    grid-column: 4 / 5;
    grid-row: 9 / 10;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*FOOTER GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.footer {
    grid-row: 6 / 7;

    display: grid;
    grid-template-columns:
    minmax(1em, 0.168fr)
    minmax(1em, 0.06fr)
    minmax(1em, 0.269fr)
    minmax(1em, 0.072fr)
    minmax(1em, 0.048fr)
    minmax(1em, 0.048fr)
    minmax(1em, 0.072fr)
    minmax(1em, 0.042fr)
    minmax(1em, 0.049fr)
    minmax(1em, 0.17fr)
    ;

    grid-template-rows:
    minmax(1em, 0.238fr)
    minmax(1em, 0.06fr)
    minmax(1em, 0.173fr)
    minmax(1em, 0.313fr)
    minmax(1em, 0.089fr)
    minmax(1em, 0.054fr)
    minmax(1em, 0.074fr)
    ;
}

.footer .logo-footer {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.footer .footer-nav1 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.footer .footer-nav2 {
    grid-column: 7 / 8;
    grid-row: 3 / 4;
}

.footer .footer-socmed {
    grid-column: 9 / 10;
    grid-row: 3 / 4;
}

.footer .footer-line {
    border-top: 1px solid var(--color-footer-text-grey5f);
    grid-column: 1 / 11;
    grid-row: 6 / 6;
    width: 85%;
    justify-self: center;
}
.footer .footer-copyright {
    grid-column: 2 / 10;
    grid-row: 6 / 7;
}

.footer .footer-other-links {
    grid-column: 3 / 10;
    grid-row: 6 / 7;
    
}

/*Other Formatting*/
/*==========================NAV BAR==========================*/

.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}

.main-grid .hero header .navbar .container-fluid {
    margin-top: 3vw;
    margin-right: 2.5vw;
    margin-left: 7.5vw;
}

.main-grid .hero .navbar .navbar-header .navbar-brand {
    font-family: 'Domaine Display Narrow', serif;
    font-size: clamp(35px, 6.8vw, 46px);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    
    color: var(--color-text-light);

}

.main-grid .hero .navbar .collapse .nav {
    
    font-family: 'Spectral', sans-serif;
    font-size: clamp(14px, 6.8vw, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;

}

.main-grid .hero .navbar .collapse .nav li:nth-child(1n+1) {
    margin-left: 20px;
    font-family: 'Spectral', sans-serif;
    font-size: clamp(14px, 6.8vw, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    
}
.main-grid .hero .navbar .collapse .nav li:nth-child(6) {
    margin-right: 1vw;
}

.main-grid .hero .navbar .no-transition {
    font-family: 'Spectral', sans-serif;
    font-size: clamp(14px, 6.8vw, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;
}

input[type=text-search] {
    width: 25px;
    height: 44px;
    box-sizing: border-box;
    border: none;
    border-radius: 0px;
    
    background-color: transparent;
    
    padding: 10px 0px 10px 5px;
    -webkit-transition: width 0.4s 0s ease;
    -moz-transition: width 0.4s 0s ease;
    -o-transition: width 0.4s 0s ease;
    transition: width 0.4s ease-in-out;
    
    font-size: 14px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: var(--color-text-light);

}
  
input[type=text-search]:focus {
    
    width: 15vw;
    font-family: 'Spectral', sans-serif;
    font-size: clamp(14px, 6.8vw, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    padding: 2px;
    
    border-bottom: 1px solid var(--color-text-light);
    border-radius: 0px;

}

.main-grid .hero .navbar .collapse .nav input::placeholder{
    color: var(--color-text-light);
    opacity: 1;   
}
.main-grid .hero .navbar .collapse .nav input:-ms-input-placeholder {
    color: var(--color-text-light);
}
   
.main-grid .hero .navbar .collapse .nav input::-ms-input-placeholder {
    color: var(--color-text-light);
}

/*==========================HERO==========================*/

.videoContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.videoContainer.active {
    visibility: visible;
    opacity: 1;
}
.videoContainer video{
    position: relative;
    max-width: 100%;
    max-width: 100%;
    outline: none;
}
.close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    max-width: 50px;
    z-index: 20000;
    opacity: 1;
    border: 1px solid white;
    border-radius: 15px;
}


.hero {
    height: 900px;
    margin-top: -1.5em;
    background-image: url('Assets/Hero/architectural-design-architecture-beach-453201.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero .title-hero {
    font-family: 'Domaine Display Narrow', sans-serif;
    font-size: clamp(48px, 6.8vw, 96px);
    color: var(--color-text-light);
    animation: slideIn 3s ease-out 0s 1 normal forwards;
}
@keyframes slideIn {
    0% {
      transform: translateX(-200px);
    }
  
    100% {
      transform: translateX(0px);
    }
  }

.hero .video-watch {
    font-family: 'Spectral', sans-serif;
    font-size: clamp(14px, 6.8vw, 14px);
    color: var(--color-text-light);
    animation: notice 2s ease-out 4s 1 normal forwards;
}
@keyframes notice {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
  
    10% {
      animation-timing-function: ease-in;
      transform: scale(0.91);
    }
  
    17% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
    }
  
    33% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
    }
  
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }

.hero .nav-side {
    list-style-type: none;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    animation: myAnim 2s ease-in 2s 1 normal forwards;animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateX(48px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateX(26px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateX(13px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateX(6.5px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateX(4px);
    }
  
    25%,
    55%,
    75%,
    87%,
    98% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0px);
    }
  }
/*==========================DEVELOPMENT==========================*/

.development {
    background-color: var(--color-development-bg) !important;
    height: 990px;
}

.development .slider-development .slide-01 {
    font-family: Karla;
    font-size: clamp(18px, 6.8vw, 18px);
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-contact-grey94);

}

.development .slider-development .slide-line {
    display: inline-flex;
}

.development .slider-development .slide-line .nav-vector-development {
   margin-top: -2px;  
}
.development .slider-development .slide-03 {
    font-family: Karla;
    font-size: clamp(18px, 6.8vw, 18px);
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

    color: #4E4E4E;
}

.title-development1, .title-development2 {
    font-family: 'Domaine Display Narrow';
    font-size: clamp(50px, 10vw, 76px);
  
    
    color: var(--color-text-light);
    animation: pulse 10s ease-in-out 0s infinite alternate-reverse forwards;
}
@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      transform: scale(1);
    }
  
    100% {
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      transform: scale(1.1);
    }
  }

.development .description-palawan {
    font-family: 'Karla', sans-serif;
    font-size: clamp(14px, 10vw, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-text-light);
    background:rgba(0,0,0,0.5);
    position: relative;

} 
.development .button-explore {
    position: relative;
}

.development .button-explore .btn {
    position: absolute;
    bottom: 0;
    left: 0;
}

.development .button-explore .btn {
    font-family: 'Spectral', sans-serif;
    font-size: clamp(14px, 2vw, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

    border: 1px solid var(--color-text-light);
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--color-development-bg);

    color: var(--color-text-light);
}

.picture-palawan {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/*==========================PROPERTIES==========================*/

.properties {
    height: 680px;
}

.properties .carousel {
    outline: 2px solid black;
    width: 100%;
    max-height: 680px;
    position: relative;
    background-color: var(--color-development-bg);
}
.carousel .carousel-inner {
    position: absolute;
}

.properties .carousel .carousel-indicators, .carousel-control {
    display: none;
}

.carousel .carousel-inner .item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

}

.properties .carousel .carousel-inner .item .property-image1 {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}

.properties .carousel .carousel-inner .item .property-image2 {   
    display: flex;
    align-items: center;
    justify-content: center; 
}
.properties .carousel .carousel-inner .item .property-image3 {  
    display: flex;
    align-items: center;
    justify-content: center; 
}
.properties .carousel .carousel-inner .item .property-image {
    width: 100%;
    min-width: 480px;
    height: auto;
    min-height: 680px;
    opacity: 25%;
}

.carousel .carousel-inner .item .carousel-caption {
    top: 30%;

    margin: 0 5%;
}

.carousel .carousel-inner .item .carousel-caption .property-name {
    font-family: 'Domaine Display Narrow';
    font-size: clamp(48px, 10vw, 48px);
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-text-light);
}

.carousel .carousel-inner .item .carousel-caption .property-description {
    font-family: 'Karla', sans-serif;
    font-size: clamp(10px, 10vw, 14px);
    
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    
}

.carousel .carousel-inner .item .carousel-caption img {
    width: 30px;
    height: 8px;
}

/*==========================NEWS==========================*/

.news {
    background-color: var(--color-news-bg) !important;
    height: 548px;
    position: relative;
}

.news .header-news {
    font-family: 'Karla', sans-serif;
    font-size: clamp(18px, 2vw, 18px);
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-news-text);
}

.news .header-comfort {
    font-family: 'Domaine Display Narrow';
    font-size: clamp(30px, 3.35vw, 48px);
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-properties-fg);
}

.news .description-comfort {
    font-family: 'Karla', sans-serif;
    font-size: clamp(14px, 2vw, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;


    color: var(--color-properties-fg);
}

.news .header-destination {
    font-family: 'Domaine Display Narrow';
    font-size: clamp(30px, 3.35vw, 48px);
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-properties-fg);
}

.news .description-destination {
    font-family: 'Karla', sans-serif;
    font-size: clamp(14px, 2vw, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;


    color: var(--color-properties-fg);
}

.news .btn {
    font-family: 'Spectral', sans-serif;
    font-size: clamp(14px, 2vw, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

    border: 1px solid #313131;
    box-sizing: border-box;
    border-radius: 2px;

    background-color: var(--color-news-bg);
    color: var(--color-properties-fg);
}

/*==========================CONTACT==========================*/

.contact {
    background-color: var(--color-contact-bg) !important;
    height: 682px;
    position: relative;
}

.contact .header-contact {
    font-family: 'Domaine Display Narrow';
    font-size: clamp(70px, 5.29vw, 76px);
    line-height: 86px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-footer-text-light);
}

.contact .description-contact {
    font-family: 'Karla', sans-serif;
    font-size: clamp(14px, 2vw, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-footer-text-light);
}

.contact .form-control {
    font-family: 'Karla', sans-serif;
    font-size: clamp(16px, 2vw, 16px);;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-contact-grey94);
}

.contact .form-group input[type=text] {
    height: 2.9em;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-contact-grey94);
    background-color: var(--color-contact-bg);
    color: var(--color-contact-grey94);
    width: 33.5vw;
    padding: 0px 0px 0px 0px;

}

.contact .form-check {
    padding-top: 15px;
    display: inline-flex;
    justify-content: left;
}
.contact .form-check .form-check-label {
    padding-left: 2.5%;
}

.contact .form-check-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-contact-grey94);
    background-color: var(--color-contact-bg);
    color: var(--color-contact-grey94);
    
}

.contact .form-check-label {
    font-family: 'Karla', sans-serif;
    font-size: clamp(14px, 2vw, 14px);;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-contact-grey5c);
}

.contact .button-submit .btn {
    font-family: 'Spectral', sans-serif;
    font-size: clamp(14px, 2vw, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

    border: 1px solid var(--color-contact-grey94);
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--color-contact-bg);

    color: var(--color-contact-grey94);
}

/*==========================FOOTER==========================*/

.footer {
    background-color: var(--color-footer-bg) !important;
    height: 336px;
}

.footer .footer-nav1 {
    font-family: 'Spectral', sans-serif;
    font-size: clamp(16px, 2vw, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-footer-text-light);
}

.footer .footer-nav2 {
    font-family: 'Spectral', sans-serif;
    font-size: clamp(16px, 2vw, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-footer-text-light);
}

.footer .footer-socmed {
    display: flex;
    justify-content: center;
    font-size: clamp(18px, 2vw, 18px);
}
.footer .footer-socmed .footer-icon {
    margin: 0px 5px;
    color: var(--color-text-light);
}

.footer .footer-copyright {
    font-family: 'Karla', sans-serif;
    font-size: clamp(14px, 2vw, 14px);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;

    color: var(--color-footer-text-grey5f);
}

.footer .footer-other-links {
    display: flex;
    justify-content: flex-end;
}
.footer .footer-other-links .footer-link {
    margin: 0px 7.5px;
    color: var(--color-footer-text-grey5f);
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*RESPONSIVE GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/*LARGE DEVICES AND WIDE SCREENS*/
@media (max-width: 1200px) {
   
}
@media (max-width: 1160px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*DEVELOPMENT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .development .description-palawan {

        grid-column: 2 / 6;
        grid-row: 7 / 8; 
    }
}
@media (max-width: 1100px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NAV BAR*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .main-grid .hero .navbar .collapse .nav li:nth-child(1n+1) {
        margin-left: 15px;
        font-family: 'Spectral', sans-serif;
        font-size: clamp(14px, 6.8vw, 14px);
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        
    }
   
}
@media (max-width: 1082px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NEWS GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .news .description-comfort {

        grid-column: 2 / 4;
        grid-row: 6 / 7;
    }
    .news .description-destination {

        grid-column: 5 / 7;
        grid-row: 6 / 7;
    }
    .news .button-readon1 {

        grid-column: 2 / 3;
        grid-row: 9 / 10;
    }
    .news .button-readon2 {

        grid-column: 5 / 6;
        grid-row: 9 / 10;
    }
}
@media (max-width: 1050px) {
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NAV BAR*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .main-grid .hero .navbar .collapse .nav li:nth-child(1n+1) {
        margin-left: 10px;
        font-family: 'Spectral', sans-serif;
        font-size: clamp(14px, 6.8vw, 14px);
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        
    }
    
}
@media (max-width: 1013px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NAV BAR*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .main-grid .hero .navbar .collapse .nav li:nth-child(1n+1) {
        margin-left: 2px;
        font-family: 'Spectral', sans-serif;
        font-size: clamp(14px, 6.8vw, 14px);
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        
    }
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*DEVELOPMENT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .development .button-explore {

        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }
    .development .button-explore .btn {
        position: absolute;
        top: 0;
        left: 0;
        bottom: auto;
    }

}

/*SMALLER DESKTOP VIEWPOINTS*/
@media (max-width: 992px) {


}
@media (max-width: 960px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*PROPERTIES*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .properties .carousel:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }
    .properties .carousel:nth-child(2) {
        grid-column: 3 / 5;
        grid-row: 1 / 1;
    }
    .properties .carousel:nth-child(3) {
       display: none;
    }
}
@media (max-width: 949px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NAV BAR*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .main-grid .hero .navbar .collapse .nav li:nth-child(1n+1) {
        margin-left: -7px;
        font-family: 'Spectral', sans-serif;
        font-size: clamp(14px, 6.8vw, 14px);
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em; 
    }
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NEWS GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .news .button-readon1 {

        grid-column: 2 / 3;
        grid-row: 9 / 10;
        position: absolute;
        top: 10%;
        bottom: auto;
        left: 0;
    }
    .news .button-readon2 {

        grid-column: 5 / 6;
        grid-row: 9 / 10;
        position: absolute;
        top: 10%;
        bottom: auto;
        left: 0;
    }
}
@media (max-width: 874px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NAV BAR*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .main-grid .hero .navbar .collapse .nav li:nth-child(1n+1) {
        margin-left: -16px;
        font-family: 'Spectral', sans-serif;
        font-size: clamp(14px, 6.8vw, 14px);
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        
    }
    
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*DEVELOPMENT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .development .title-development1 {

        grid-column: 3 / 7;
        grid-row: 2 / 6;
        z-index: 1;
    }
    .development .title-development2 {


        grid-column: 4 / 7;
        grid-row: 4 / 7;
        z-index: 1;
    }
    .development .description-palawan {

        grid-column: 2 / 7;
        grid-row: 7 / 8;
    }
    .development .button-explore {

        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }
    .development .button-explore .btn {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
    }
}
@media (max-width: 790px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NAV BAR*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    input[type=text-search]:focus {
        
        width: 10vw;
        font-family: 'Spectral', sans-serif;
        font-size: clamp(14px, 6.8vw, 14px);
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        padding: 2px;
        
        border-bottom: 1px solid var(--color-text-light);
        border-radius: 0px;
    
    }
    .main-grid .hero .navbar .collapse .nav li:nth-child(1n+1) {
        margin-left: -20px;
        font-family: 'Spectral', sans-serif;
        font-size: clamp(14px, 6.8vw, 14px);
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        
    }  
    .main-grid .hero .navbar .collapse .nav li:nth-child(6) {
        margin-left: 0px;

    }
    
}

/*MOST TABLETS*/
@media (max-width: 768px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*DEVELOPMENT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .development .picture-palawan {

        grid-column: 5 / 7;
        grid-row: 3 / 12;
        display: flex;
        overflow: hidden;
    }
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NEWS GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .news .button-readon1 {

        grid-column: 2 / 3;
        grid-row: 9 / 10;
        position: absolute;
        top: 30%;
        bottom: auto;
        left: 0;
    }
    .news .button-readon2 {

        grid-column: 5 / 6;
        grid-row: 9 / 10;
        position: absolute;
        top: 30%;
        bottom: auto;
        left: 0;
    }
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*FOOTER GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .footer .footer-socmed {
        display: initial;
        justify-content: center;
        font-size: clamp(18px, 2vw, 18px);
    }
}
@media (max-width: 767px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NAV BAR*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .main-grid .hero .navbar .collapse .nav li:nth-child(1n+1) {
        margin-left: 0px;
        font-family: 'Spectral', sans-serif;
        font-size: clamp(14px, 6.8vw, 14px);
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        
    }
    .main-grid .hero .navbar .collapse .nav li:nth-child(6) {
        margin-right: 20px;

    }
    input[type=text-search]:focus {
        
        width: 25vw;
        font-family: 'Spectral', sans-serif;
        font-size: clamp(14px, 6.8vw, 14px);
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        padding: 2px;
        
        border-bottom: 1px solid var(--color-text-light);
        border-radius: 0px;
    
    }
}
@media (max-width: 750px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*FOOTER GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .footer .footer-line {
        border-top: 1px solid var(--color-footer-text-grey5f);
        grid-column: 1 / 11;
        grid-row: 5 / 5;
        width: 85%;
        justify-self: center;
    }
    .footer .footer-other-links {

        grid-column: 2 / 10;
        grid-row: 5 / 6;
    }
}

/*Sections Cut in Half*/
@media (max-width: 693px) {
    
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NEWS GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .news {
        height: 940px;

        display: grid;
        grid-template-columns:
        minmax(1em, 0.15325fr)
        minmax(1em, 0.15325fr)
        minmax(1em, 0.076fr)
        minmax(1em, 0.199fr)
        minmax(1em, 0.113fr)
        minmax(1em, 0.15325fr)
        minmax(1em, 0.15325fr)
        ;

        grid-template-rows:
        minmax(1em, 0.111fr)
        minmax(1em, 0.042fr)
        minmax(1em, 0.131fr)
        minmax(1em, 0.069fr)
        minmax(1em, 0.055fr)
        minmax(1em, 0.186fr)
        minmax(1em, 0.053fr)
        minmax(1em, 0.069fr)
        minmax(1em, 0.283fr)

            
        minmax(1em, 0.069fr)
        minmax(1em, 0.055fr)
        minmax(1em, 0.186fr)
        minmax(1em, 0.053fr)
        minmax(1em, 0.069fr)
        minmax(1em, 0.283fr)
        ;
    }
    .news .header-news {

        grid-column: 3 / 4;
        grid-row: 2 / 4;
    }
    
    .news .header-comfort {

        grid-column: 3 / 5;
        grid-row: 4 / 5;
    }
    
    .news .description-comfort {

        grid-column: 3 / 6;
        grid-row: 6 / 7;
    }
    
    .news .button-readon1 {

        grid-column: 3 / 4;
        grid-row: 9 / 10;
        position: absolute;
        top: 10%;
        bottom: auto;
        left: 0;
    }
    
    .news .header-destination {

        grid-column: 3 / 5;
        grid-row: 10 / 11;
    }
    
    .news .description-destination {

        grid-column: 3 / 6;
        grid-row: 12 / 13;
    }
    
    .news .button-readon2 {

        grid-column: 3 / 4;
        grid-row: 15 / 16;
        position: absolute;
        top: 10%;
        bottom: auto;
        left: 0;
    }
    
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*CONTACT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .contact {
        height: 1054;
        
        display: grid;
        grid-template-columns:
        minmax(1em, 0.169fr)
        minmax(1em, 0.164fr)
        minmax(1em, 0.165fr)
        minmax(1em, 0.076fr)
        minmax(1em, 0.257fr)
        minmax(1em, 0.170fr)
        ;
    
        grid-template-rows:
        minmax(1em, 0.227fr)
        minmax(1em, 0.045fr)
        minmax(1em, 0.088fr)
        minmax(1em, 0.088fr)
        minmax(1em, 0.088fr)
        minmax(1em, 0.073fr)
        minmax(1em, 0.107fr)
        minmax(1em, 0.056fr)
        minmax(1em, 0.107fr)
        minmax(1em, 0.056fr)

        minmax(1em, 0.045fr)
        minmax(1em, 0.088fr)
        minmax(1em, 0.088fr)
        minmax(1em, 0.088fr)
        minmax(1em, 0.073fr)
        minmax(1em, 0.107fr)
        minmax(1em, 0.056fr)
        minmax(1em, 0.107fr)
        minmax(1em, 0.056fr)
        minmax(1em, 0.227fr)
        ;  
    }
    .contact .header-contact {

        grid-column: 2 / 6;
        grid-row: 2 / 5;
    }
    
    .contact .description-contact {

        grid-column: 5 / 6;
        grid-row: 6 / 10;
    }
    
    .contact .form-name {

        grid-column: 2 / 6;
        grid-row: 12 / 13;
    }
    
    .contact .form-email {

        grid-column: 2 / 6;
        grid-row: 13 / 14;
    }
    
    .contact .form-phone {

        grid-column: 2 / 6;
        grid-row: 14 / 15;
    }
    
    .contact .form-message {

        grid-column: 2 / 6;
        grid-row: 15 / 16;
    }
    
    .contact .form-check {

        grid-column: 2 / 6;
        grid-row: 16 / 17;
    }
    
    .contact .button-submit {

        grid-column: 2 / 6;
        grid-row: 18 / 20;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .contact .form-group input[type=text] {
        height: 2em;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid var(--color-contact-grey94);
        background-color: var(--color-contact-bg);
        color: var(--color-contact-grey94);
        width: 66vw;
        padding: 0px 0px 0px 0px;
    
    }
}
@media (max-width: 578px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*DEVELOPMENT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .development .picture-palawan {

        grid-column: 4 / 7;
        grid-row: 3 / 12;
        display: flex;
        overflow: hidden;
    }
    .development .button-explore {

        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }
    .development .button-explore .btn {
        position: absolute;
        top: 0;
        bottom: auto;
        left: 0;
    }
    .development .nav-arrowr-development {

        grid-column: 2 / 4;
        grid-row: 9 / 10;
        display: flex;
        justify-content: flex-end;
        
    }
    .development .nav-arrowl-development {

        grid-column: 2 / 4;
        grid-row: 11 / 12;
        display: flex;
        justify-content: flex-end;
    }
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NEWS GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .news .header-news {

        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }
    
    .news .header-comfort {

        grid-column: 2 / 5;
        grid-row: 4 / 5;
    }
    
    .news .description-comfort {

        grid-column: 2 / 7;
        grid-row: 6 / 7;
    }
    
    .news .button-readon1 {

        grid-column: 2 / 4;
        grid-row: 8 / 9;
        position: absolute;
        top: 10%;
        bottom: auto;
        left: 0;
    }
    
    .news .header-destination {

        grid-column: 2 / 5;
        grid-row: 10 / 11;
    }
    
    .news .description-destination {

        grid-column: 2 / 7;
        grid-row: 12 / 13;
    }
    
    .news .button-readon2 {

        grid-column: 2 / 4;
        grid-row: 14 / 15;
        position: absolute;
        top: 20%;
        bottom: auto;
        left: 0;
    }
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*FOOTER GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .footer .footer-nav1 {

        grid-column: 4 / 7;
        grid-row: 2 / 4;
    }
    
    .footer .footer-nav2 {

        grid-column: 4 / 7;
        grid-row: 4 / 5;
    }
    .footer .footer-socmed {

        grid-column: 9 / 10;
        grid-row: 4 / 5;
    }
}
@media (max-width: 500px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NAV BAR*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    input[type=text-search]:focus {
        
        width: 40vw;
        font-family: 'Spectral', sans-serif;
        font-size: clamp(14px, 6.8vw, 14px);
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        padding: 2px;
        
        border-bottom: 1px solid var(--color-text-light);
        border-radius: 0px;
    
    }
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*DEVELOPMENT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .development .title-development1 {

        grid-column: 3 / 6;
        grid-row: 2 / 6;
        z-index: 1;
    }
}

/*SMALL DEVICES AND MOST PHONES*/
@media (max-width: 480px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*DEVELOPMENT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .development .description-palawan {

        grid-column: 2 / 7;
        grid-row: 6 / 8; 
    }
    .development .button-explore {

        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }
    .development .button-explore .btn {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
    }
    .development .nav-arrowr-development {

        grid-column: 2 / 4;
        grid-row: 9 / 10;
        display: flex;
        justify-content: flex-start;
        
    }
    .development .nav-arrowl-development {

        grid-column: 2 / 4;
        grid-row: 11 / 12;
        display: flex;
        justify-content: flex-start;
    }
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*PROPERTIES*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .properties .carousel .carousel-indicators, .carousel-control {
        display: initial;
    }
    .properties .carousel:nth-child(1) {
        grid-column: 1 / 5;
        grid-row: 1 / 1;
    }
    .properties .carousel:nth-child(2) {
        display: none;
    }
    .properties .carousel:nth-child(3) {
       display: none;
    }
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*CONTACT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .contact .description-contact {

        grid-column: 2 / 6;
        grid-row: 8 / 11;
    }
}
@media (max-width: 461px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*FOOTER GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .footer .footer-copyright {
        display: flex;
        justify-content: center;
    }
    .footer .footer-other-links {

        grid-column: 1 / 11;
        grid-row: 5 / 6;

        display: flex;
        justify-content: center;
    }
    
}
@media (max-width: 430px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NEWS GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .news .button-readon1 {

        grid-column: 2 / 4;
        grid-row: 9 / 10;
        position: absolute;
        top: 10%;
        bottom: auto;
        left: 0;
    }
    .news .button-readon2 {

        grid-column: 2 / 4;
        grid-row: 15 / 16;
        position: absolute;
        top: 20%;
        bottom: auto;
        left: 0;
    }

}
@media (max-width: 400px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*DEVELOPMENT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .development .button-explore {

        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }
    .development .button-explore .btn {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
    }
    .development .description-palawan {

        grid-column: 2 / 7;
        grid-row: 6 / 9; 
    }
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*CONTACT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .contact .form-name {

        grid-column: 2 / 6;
        grid-row: 13 / 14;
    }
    
    .contact .form-email {

        grid-column: 2 / 6;
        grid-row: 14 / 15;
    }
    
    .contact .form-phone {

        grid-column: 2 / 6;
        grid-row: 15 / 16;
    }
    
    .contact .form-message {

        grid-column: 2 / 6;
        grid-row: 16 / 17;
    }
    
    .contact .form-check {

        grid-column: 2 / 6;
        grid-row: 17 / 19;
    }
    
    .contact .button-submit {

        grid-column: 5 / 6;
        grid-row: 20 / 21;
        position: relative;
    }
    .contact .button-submit .btn {
        position: absolute;
        top: 0;
        right: 0;
    }

    .contact .form-group input[type=text] {
        height: 1.5em;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid var(--color-contact-grey94);
        background-color: var(--color-contact-bg);
        color: var(--color-contact-grey94);
        width: 66vw;
        padding: 0px 0px 0px 0px;
    
    }
}
@media (max-width: 333px) {
    /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*DEVELOPMENT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    .development .picture-palawan {

        grid-column: 3 / 7;
        grid-row: 3 / 12;
        display: flex;
        overflow: hidden;
    }
    .development .button-explore {

        grid-column: 2 / 3;
        grid-row: 9 / 11;
    }
    .development .button-explore .btn {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
    }
    .development .nav-arrowr-development {

        grid-column: 6 / 7;
        grid-row: 9 / 10;
        display: flex;
        justify-content: flex-start;
        
    }
    .development .nav-arrowl-development {

        grid-column: 6 / 7;
        grid-row: 11 / 12;
        display: flex;
        justify-content: flex-start;
    }
}

/*SMALLER PHONE VIEWPOINTS*/
@media (max-width: 320px) {
  /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NAV BAR*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    input[type=text-search]:focus {
        
        width: 80vw;
        font-family: 'Spectral', sans-serif;
        font-size: clamp(14px, 6.8vw, 14px);
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        padding: 2px;
        
        border-bottom: 1px solid var(--color-text-light);
        border-radius: 0px;

    }   
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*SPECIAL CASE RESPONSIVE GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NAV BAR*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*HERO GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*DEVELOPMENT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*PROPERTIES GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*NEWS GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*CONTACT GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*FOOTER GRID*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/


 /*Hero
s o s o s o s
61 8 54 568 678 14 60
*/

/*
S 58
O 46
S 173
O 180
S 23
O 20
S 93
O 14
S 35
O 50
S 208
*/

/* Development
C
s o o1 o2 s o s
244 141 137 138 61 476 243
522 137 61
R
s o o s o s o s o s o s
155 20 144 28 58 61 246 65 8 22 8 175*/

/*NEws
c
s o o1 s o o1 s 
244 109 286 162 109 286 244

R
s o s o s o s o s
61 23 72 38 30 102 29 38 155*/

/*contact
c
s o s o o1 s
243 236 237 109 370 245

r
s o o1 o2 o3 s s o s
155 31 60 60 60 50 73 38 155*/

/*footer
c
s o s o s s o s o s
242.58 86.42 387 104 69.5 69.5 104 61 71 245

r
s o o1 s s o s 
79.86 20.14 58 105 30 18 25